spring:
  application:
    name: demo

  datasource:
    url: jdbc:postgresql://localhost:5434/demo
    username: demo
    password: demo

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true

  liquibase:
    enabled: true
    change-log: classpath:db/changelog/db.changelog-master.yaml

server:
  port: 8080
